# X. Model Inference

## Libraries

In [1]:
import pandas as pd
import numpy as np
import pickle 
import json

## Model Load

In [2]:
with open("list_num_columns.txt", 'r') as file_1:
    list_num_skew_columns = json.load(file_1)

with open("list_cat_nominal_columns.txt", "r") as file_2:
    nom_col_skew = json.load(file_2)

with open("list_cat_ordinal_columns.txt", "r") as file_3:
    ord_col_skew = json.load(file_3)

with open("best_pipeline.pkl", "rb") as file_4:
    best_pipeline = pickle.load(file_4)

## Data Inference

In [3]:
data_inf={'id': {0: 701232, 1: 50007},
 'gender': {0: 'Female', 1: 'Male'},
 'customer type': {0: 'Loyal Customer', 1: 'disloyal Customer'},
 'age': {0: 19, 1: 25},
 'type of travel': {0: 'Personal Travel', 1: 'Business travel'},
 'class': {0: 'Business', 1: 'Eco Plus'},
 'flight distance': {0: 460, 1: 235},
 'inflight wifi service': {0: 2, 1: 3},
 'departure/arrival time convenient': {0: 4, 1: 2},
 'ease of online booking': {0: 3, 1: 3},
 'gate location': {0: 1, 1: 3},
 'food and drink': {0: 1, 1: 1},
 'online boarding': {0: 3, 1: 3},
 'seat comfort': {0: 4, 1: 1},
 'inflight entertainment': {0: 5, 1: 1},
 'on-board service': {0: 4, 1: 1},
 'leg room service': {0: 3, 1: 5},
 'baggage handling': {0: 3, 1: 3},
 'checkin service': {0: 4, 1: 1},
 'inflight service': {0: 5, 1: 4},
 'cleanliness': {0: 5, 1: 1},
 'departure delay in minutes': {0: 15, 1: 1},
 'arrival delay in minutes': {0: 10.0, 1: 6.0}
}

In [4]:
data_inf = pd.DataFrame(data_inf)

data_inf.info()
data_inf

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 1
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 2 non-null      int64
 1   gender                             2 non-null      object
 2   customer type                      2 non-null      object
 3   age                                2 non-null      int64
 4   type of travel                     2 non-null      object
 5   class                              2 non-null      object
 6   flight distance                    2 non-null      int64
 7   inflight wifi service              2 non-null      int64
 8   departure/arrival time convenient  2 non-null      int64
 9   ease of online booking             2 non-null      int64
 10  gate location                      2 non-null      int64
 11  food and drink                     2 non-null      int64
 12  online boarding                    2 non-null      int64
 13  seat comfort                       2 non-null      int64
 14  inflight entertainment             2 non-null      int64
 15  on-board service                   2 non-null      int64
 16  leg room service                   2 non-null      int64
 17  baggage handling                   2 non-null      int64
 18  checkin service                    2 non-null      int64
 19  inflight service                   2 non-null      int64
 20  cleanliness                        2 non-null      int64
 21  departure delay in minutes         2 non-null      int64
 22  arrival delay in minutes           2 non-null      float64
dtypes: float64(1), int64(18), object(4)
memory usage: 384.0+ bytes

,id,gender,customer type,age,type of travel,class,flight distance,inflight wifi service,departure/arrival time convenient,ease of online booking,...,seat comfort,inflight entertainment,on-board service,leg room service,baggage handling,checkin service,inflight service,cleanliness,departure delay in minutes,arrival delay in minutes
0,701232,Female,Loyal Customer,19,Personal Travel,Business,460,2,4,3,...,4,5,4,3,3,4,5,5,15,10.0
1,50007,Male,disloyal Customer,25,Business travel,Eco Plus,235,3,2,3,...,1,1,1,5,3,1,4,1,1,6.0

In [5]:
#Data creation
age_category = []
for x in data_inf["age"]:
    if 6 <= x <= 21:
        age_category.append('Generation z') 
    elif 22 <= x <= 36:
        age_category.append('Millennials')
    elif 37 <= x <= 52:
        age_category.append('Generation X')
    elif 53 <= x <= 73:
        age_category.append('Baby Boomers')
    else:
        age_category.append('Silent Generation')

data_inf["generation"] = age_category

In [7]:
# Split between numeric and categoric column
data_inf_num_skew = data_inf[list_num_skew_columns]
data_inf_cat_nom = data_inf[nom_col_skew]
data_inf_cat_ord = data_inf[ord_col_skew]

display(data_inf_num_skew)
display(data_inf_cat_nom)
display(data_inf_cat_ord)

   flight distance
0              460
1              235

    type of travel    generation
0  Personal Travel  Generation z
1  Business travel   Millennials

,class,inflight wifi service,ease of online booking,food and drink,online boarding,seat comfort,inflight entertainment,on-board service,leg room service,baggage handling,checkin service,inflight service,cleanliness
0,Business,2,3,1,3,4,5,4,3,3,4,5,5
1,Eco Plus,3,3,1,3,1,1,1,5,3,1,4,1

In [1]:
#predict satisfied using pipeline
y_predict_inf = best_pipeline.predict(data_inf)

NameError: name 'best_pipeline' is not defined

In [11]:
# add result to dataframe
data_inf["satisfaction"] = y_predict_inf

In [12]:
data_inf

,id,gender,customer type,age,type of travel,class,flight distance,inflight wifi service,departure/arrival time convenient,ease of online booking,...,on-board service,leg room service,baggage handling,checkin service,inflight service,cleanliness,departure delay in minutes,arrival delay in minutes,generation,satisfaction
0,701232,Female,Loyal Customer,19,Personal Travel,Business,460,2,4,3,...,4,3,3,4,5,5,15,10.0,Generation z,neutral or dissatisfied
1,50007,Male,disloyal Customer,25,Business travel,Eco Plus,235,3,2,3,...,1,5,3,1,4,1,1,6.0,Millennials,neutral or dissatisfied